/* SearchBox.module.css */

.container {
  margin-top: 10px;
  margin-bottom: 20px;
}
.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  width: 300px;
  width: 100%;
  box-sizing: border-box;
}
