/* Contact.module.css */

.contactCard {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.contactRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteButton {
  background-color: rgb(217, 40, 40);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 20px;
}

.deleteButton:hover {
  background-color: #f84646;
  border: 1px solid #b11d1d;
}
