/* ContactForm.module.css */

.formContainer {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
}
button {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  font-family: inherit;
  background-color: #36863a;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #53ab56;
  border: 2px solid #18ce1e;
}
.formGroup {
  margin-bottom: 10px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.formGroup input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}
