/* App.module.css */

.appContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.sidebar {
  width: 300px;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
}
