/* ContactList.module.css */

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactIcon {
  font-size: 24px;
  color: black;
}

.contactName {
  font-size: 18px;
  font-weight: bold;
}

.contactPhone {
  font-size: 16px;
}
